body {
    margin: 0;
}
#main {
    background-color: rgba(0, 0, 0, 0.97);
}
.overlay {
    background-color: rgba(5, 4, 4, 0.388);
}

#platformBackground {
    /* border: 1px solid blue; */
    background-color: rgba(0, 0, 0, 0.881);
    position: fixed;
    height: 85vh;
    display: none;
}
#cross1 {
    position: absolute;
    color: white;
    font-size: 15px;
    left: 97%;
    top: 1%;
    z-index: 10;
}
a {
    color: white;
    text-decoration: none;
}
#platformdiv {
    /* border: 1px solid red; */
    background-color: black;
    display: grid;
    position: sticky;
    grid-template-columns: repeat(2,1fr);
    color: white;
    gap: 20px;
    width: 85%;
    margin: auto;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#platformdiv h5 {
    font-size: 15px;
}
#platformdiv h5:hover {
    cursor: pointer;
}
#platformdiv h6 {
    color: gray;
    font-size: 12px;
    margin-bottom: 30px;
    letter-spacing: 2px;
}
#platformdiv > div {
    /* border: 1px solid blue; */
}
#platformdiv > div:first-child {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
}
#platformdiv > div:first-child > div:first-child {
    
    border-right: 1px solid gray;  
    
}
#platformdiv > div:first-child > div:first-child > div {
    
    display: block;  
    
}
#platformdiv > div:first-child > div:last-child {
    /* border: 1px solid white; */
    display: block;  
    
}
#platformdiv > div:first-child > div:last-child > div{
    /* border: 1px solid white; */
    margin-bottom: 10px;
    
}
#platformdiv > div:first-child > div:first-child > div > div{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
#platformdiv > div:first-child > div:first-child > div > div > div:hover{
    /* border: 1px solid yellow; */
    cursor: pointer;
}
#platformdiv > div:last-child > div {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
#platformdiv > div:last-child > div > div{
    /* border: 1px solid white; */
    height: 50px;
    display: flex;
    background-color: #222222;
    border-radius: 10px;
    align-items: center;
}
#platformdiv > div:last-child > div > div img{
    width: 70%;
}
#platformdiv > div:last-child > div > div {
    cursor: pointer;
}
#platformdiv > div:last-child {
    /* border: 1px solid red; */
}

#new {
    padding: 3px 4px;
    font-size: 12px;
    background: rgb(240,88,41);
    border: none;
    border-radius: 2px;
    background: linear-gradient(90deg, rgba(240,88,41,1) 0%, rgba(237,30,105,1) 80%);
}



#productsBackground {
    position: fixed;
    /* border: 1px solid blue; */
    width: 100vw;
    height: 85vh;
    background-color: rgba(0, 0, 0, 0.788);
    display: none;
}
#cross2 {
    position: absolute;
    color: white;
    font-size: 15px;
    left: 70%;
    top: 1%;
    z-index: 10;
}
#productsdiv {
    /* border: 1px solid red; */
    background-color: #0d0d0d;
    position: sticky;
    width: 40%;
    margin: auto;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
    gap: 30px;
}
#productsdiv h5 {
    margin-bottom: 10px;
    font-size: 15px;
}
#productsdiv > div:hover {
    cursor: pointer;
    /* border: 1px solid blue; */
    /* padding: 20px; */
}
#productsdiv > div > div:first-child{
    border-bottom: 1px solid gray;
    /* margin-bottom: 30px; */
    padding-bottom: 20px;
    margin-bottom: 10px;
}
#productsdiv > div > div:first-child > div:first-child {
    /* border: 1px solid red; */
}
#productsdiv img {
    width: 50%;
}



#resourcesBackground {
    /* border: 1px solid blue; */
    background-color: rgba(0, 0, 0, 0.833);
    height: 85vh;
    position: fixed;
    width: 100vw;
    display: none;
}
#cross3 {
    position: absolute;
    color: white;
    font-size: 15px;
    left: 70%;
    top: 1%;
    z-index: 10;
}
#resourcesdiv {
    /* border: 1px solid red; */
    background-color: black;
    position: sticky;
    width: 40%;
    margin: auto;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px;
    gap: 20px;
}
#resourcesdiv h6 {
    color: gray;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
#resourcesdiv h5 {
    font-size: 15px;
}
#resourcesdiv h5:hover {
    cursor: pointer;
}
#resourcesdiv > div {
    /* border: 1px solid yellow; */
    padding-left: 20px;
    
    
}
#resourcesdiv > div > div {
    /* border: 1px solid white; */
    margin-bottom: 15px;
}




#signinBackground {
    position: fixed;
    /* border: 1px solid blue; */
    background-color: rgba(0, 0, 0, 0.833);
    width: 100vw;
    height: 700px;
    display: none;
}
#signindiv {
    /* border: 1px solid red; */
    background-color: rgb(12, 11, 11);
    position: absolute;
    left: 60%;;
    width: 22%;
    height: 100px;
    color: white;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;

}
#signindiv h6 {
    font-size: 12px;
    color: gray;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.arrow1 {
    font-size: 20px;
    color:#c60073
}
#signindiv > div:hover {
    cursor: pointer;
}
#signindiv img {
    width: 100%;
}
#signindiv > div > div:last-child {
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}
#cross {
    position: absolute;
    color: white;
    font-size: 15px;
    left: 83.5%;
    top: 1%;
    z-index: 10;
}



#buildBetter {
    /* border: 1px solid red; */
    text-align: center;
    background-color: black;
    padding: 170px 0 50px 0;
    background-image: url("https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/hero-illustration.png");
    background-repeat: no-repeat;
    background-size: 1262px 420px;
}
#buildBetter p {
    font: 1em sans-serif;
    color:white;
    margin-bottom: 30px;
}
#buildBetter h6 {
    color: #aaaaaa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 20px;

}
#button {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 30%;
    margin: auto;
    margin-bottom: 80px;
}
#buildBetter > h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:white;
    margin-bottom: 50px;
}
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 15px 40px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
#viewPlans {
    background: rgb(240,88,41);
    border: none;
    background: linear-gradient(90deg, rgba(240,88,41,1) 0%, rgba(237,30,105,1) 80%);
}
#tryForFree {
    border: 1px solid white;
    background-color: black;
}
#companyLogo {
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(5,1fr);
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
#colouredLine {
    height: 30vh;
    background-color: black;
    margin-bottom: 30px;
}
#colouredLine > div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    width: 8px;
    height: 100%;
    margin: auto;
}
#colouredLine > div > div {
    /* border: 1px solid green; */
    background: rgb(237,161,90);
    background: linear-gradient(0deg, rgba(237,161,90,1) 0%, rgba(235,19,100,1) 100%);
    width: 2px;
}
#popular_topics {
    background-color: black;
    /* border: 2px solid blue; */
    width: 75%;
    margin: auto;
    padding-bottom: 100px;
}
/* #popular_topics >div:first-child {
    border: 1px solid red;
}
#popular_topics >div:nth-child(2) {
    border: 1px solid red;
} */
#popular_topics > div:first-child h6 {
    font-size: 18px;
    color: #c60073;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 10px 10px 10px;
}
#popular_topics > div:nth-child(2) h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0 10px 10px 10px;
}
#popular_topics > div{
    /* border: 2px solid green; */
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
    gap: 40px;
    
}
#popular_topics > div > div{
    background-color: #222222;
    border-radius: 10px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
}
#popular_topics > div > div > div{
    padding: 20px 0 20px 20px;
    /* border: 2px solid orange; */
}
#popular_topics > div h6{
    color: #c60073;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: auto;
    font-weight: 700;
}
#popular_topics > div h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
}
#popular_topics > div > div > div > div > p:nth-child(1){
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: auto;
}
#popular_topics > div > div > div > div:last-child{
    margin-top: 20px;
}
.courses {
    font-weight: 400;
    font-size: 20px;
    color: #aaaaaa;
}
.arrow {
    color:#c60073
}
.logo {
    width: 100px;
}

#sub-child1 a {
    color: white;
}







@media only screen and (min-width: 0px) and (max-width: 1024px) {
    #navbar {
        display: none;
    }
    #button {
        grid-template-columns: repeat(1,1fr);
        gap: 20px;/
    }
}

@media only screen and (min-width: 640px) and (max-width: 720px) {
    #companyLogo {
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (min-width: 0px) and (max-width: 720px) {
    #companyLogo {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (min-width: 0px) and (max-width: 614px) {
    #popular_topics > div{
        grid-template-columns: repeat(1,1fr);
    }
}

