body {
    margin: 0;
}
#main {
    background-color: black;
}
.overlay {
    background-color: rgba(5, 4, 4, 0.388);
}
#buildBetter {
    /* border: 1px solid red; */
    text-align: center;
    background-color: black;
    padding: 120px 0 50px 0;
    background-image: url("https://www.pluralsight.com/content/dam/pluralsight2/homepage/2022/hero-illustration.png");
    background-repeat: no-repeat;
    background-size: 1262px 420px;
}
#buildBetter p {
    font: 1em sans-serif;
    color:white;
    margin-bottom: 30px;
}
#buildBetter h6 {
    color: #aaaaaa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
#button {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 30%;
    margin: auto;
    margin-bottom: 80px;
}
#buildBetter > h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    color:white;
}
button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    padding: 15px 40px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
#viewPlans {
    background: rgb(240,88,41);
    border: none;
    background: linear-gradient(90deg, rgba(240,88,41,1) 0%, rgba(237,30,105,1) 80%);
}
#tryForFree {
    border: 1px solid white;
    background-color: black;
}
#companyLogo {
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(5,1fr);
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
#colouredLine {
    height: 30vh;
    background-color: black;
    margin-bottom: 30px;
}
#colouredLine > div {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    width: 8px;
    height: 100%;
    margin: auto;
}
#colouredLine > div > div {
    /* border: 1px solid green; */
    background: rgb(237,161,90);
    background: linear-gradient(0deg, rgba(237,161,90,1) 0%, rgba(235,19,100,1) 100%);
    width: 2px;
}
#popular_topics {
    background-color: black;
    /* border: 2px solid blue; */
    width: 75%;
    margin: auto;
    padding-bottom: 100px;
}
#popular_topics > h6 {
    font-size: 18px;
    color: #c60073;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#popular_topics > h3 {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    margin-top: -20px;
}
#popular_topics > div{
    /* border: 2px solid green; */
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
    gap: 40px;
    
}
#popular_topics > div > div{
    background-color: #222222;
    border-radius: 10px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
}
#popular_topics > div > div > div{
    padding: 20px 0 20px 20px;
    /* border: 2px solid orange; */
}
#popular_topics > div h6{
    color: #c60073;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin: auto;
    font-weight: 700;
}
#popular_topics > div h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
}
#popular_topics > div > div > div > div > p:nth-child(1){
    color: white;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin: auto;
}
#popular_topics > div > div > div > div:last-child{
    margin-top: 20px;
}
.courses {
    font-weight: 400;
    font-size: 20px;
    color: #aaaaaa;
}
.arrow {
    color:#c60073
}
.logo {
    width: 100px;
}