#skill2{
    background-image: linear-gradient(to right,#f05a28,#ec008c,#f05a28);
    /* border: 1px solid blue; */
}
#skill2-simplepart{
    text-align: center;
    width: 70%;
    margin: auto;
    padding-bottom: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#skill2-simplepart>h1{
    color: aliceblue;
    font-size: 45px;
}
#skill2-simplepart>p{
    font-size: 20px;
}
#skill2-gridpart {
    /* border: 1px solid blue; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap: 40px;
}
#skill2-gridpart>div{
    /* border: 1px solid black; */
    text-align: center;
    padding: 20px;
}
#skill2-gridpart>div>p{
    font-size: 18px;
}
#skill2-gridpart>div>img{
    width: 40%;
    height: 45%;
    margin-bottom: 50px;
    
}
#skill2-gridpart>div:nth-child(1)>img{
    width: 60%;
    height: 50%;
}
#skill2-gridpart>div:nth-child(2)>img{
    width: 60%;
    height: 50%;
}
#skill2-gridpart>div:nth-child(3)>img{
    width: 60%;
    height: 50%;
}
#skill2-tech{
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 100px;
}
#skill2-blackbodypart{
    /* background-color: black; */
    padding: 50px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#skill2-blackbodypart>div{
    width: 70%;
    margin: auto;
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,300px);
    gap: 50px;
}

#skill2-blackbodypart>div>div{
    color: aliceblue;
}
#skill2-plans{
    /* background-color: black; */
    padding: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#skill2-plans>div:nth-child(1){
    text-align: center;
    padding-bottom: 30px;

}
#skill2-plans>div:nth-child(1)>h3{
    color: #ec0076;
    
}
#skill2-plans>div:nth-child(1)>h1{
    color: aliceblue;
}
#skill2-plans>div:nth-child(2){
    /* border: 1px solid greenyellow; */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    
}
#skill2-plans>div:nth-child(2)>div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    color: aliceblue;
    padding: 30px;
}
#skill2-plans>div:nth-child(2)>div>h2{
     font-size: 35px;
}
#skill2-plans>div:nth-child(2)>div>button{
    padding: 20px;
    font-size: 15px;
    /* background-color: rgb(244, 13, 51); */
    background: linear-gradient(145deg,#f05a28 0,#ec008c 90%);
    color: aliceblue;
    /* border-color: #ec008c; */
    border-radius: 5px;
}
#skill2-plans>div:nth-child(2)>div>h4{
    color: #e35454;
}
#skill2-plans>div:nth-child(2)>div>p{
    font-size: 17px;
}
#skill2-plans>div:nth-child(3){
    text-align: center;
    padding-top: 40px;
    color: gray;
    font-size: 18px;
}
#skill2-questions{
    width: 90%;
    margin: auto;
    display: grid;
    padding: 20px;
    padding-top: 30px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    color: aliceblue;
    padding-bottom: 100px;
}
#skill2-questions>div:nth-child(1)>h3{
    color: #ec008c;
}
#skill2-last{
    width: 80%;
    margin: auto;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    gap: 40px;
    padding: 20px;
    
}
#skill2-last>div{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    width: 60%;
    text-align: center;
    margin: auto;
    color: aliceblue;
    padding: 20px;
    
}
#skill2-last>div:nth-child(1)>button{
    /* background-color:rgb(244, 13, 51); */
    background: linear-gradient(145deg,#f05a28 0,#ec008c 100%);
    color: aliceblue;
    padding: 10px;
    border-color: rgb(244, 13, 51);
    border-radius: 5px;
}
#skill2-last>div:nth-child(2)>button{
    background-color: #212121;
    color: aliceblue;
    padding: 10px;
    border-color: aliceblue;
    border-radius: 5px;
}
#skill2-table>img{
    height: 3px;
    width: 3px;
}
table{
    /* border: 1px solid yellow; */
    color: aliceblue;
    width: 80%;
    margin: auto;
    text-align: center;
}
table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
tr:nth-child(even){
    background-color: #212121;
}
tr:nth-child(odd){
    background-color: rgb(30, 29, 29);
}
.button1{
    padding: 10px;
    /* background-color: rgb(244, 13, 51); */
    background: linear-gradient(145deg,#f05a28 0,#ec008c 100%);
    border-radius: 5px;
    border-color: rgb(244, 13, 51);
    color: aliceblue;
    font-size: 15px;
}
.reddd{
    color: #ec008c;
}


@media all and (min-width: 0px) and (max-width: 485px) {
    table {
        display: none;
    }
}
	/* meidum screens */
    @media all and (min-width: 768px) and (max-width: 1024px) {
        #skill2-gridpart {
            /* border: 1px solid blue; */
            width: 80%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,auto);
            gap: 40px;
        }
        #skill2-blackbodypart>div{
            width: 70%;
            margin: auto;
            background-color: black;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(1,auto);
            gap: 50px;
        }
        #skill2-plans>div:nth-child(2){
            /* border: 1px solid greenyellow; */
            width: 70%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,auto);
            
        }
        #skill2-questions{
            width: 90%;
            margin: auto;
            display: grid;
            padding: 20px;
            padding-top: 30px;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,auto);
            color: aliceblue;
            padding-bottom: 100px;
        }
        #skill2-last{
            width: 80%;
            margin: auto;
            text-align: center;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,auto);
            gap: 40px;
            padding: 20px;
            
        }
      
      }

            /* small screens */
      @media all and (min-width: 0px) and (max-width: 767px) {
        #skill2-gridpart {
            /* border: 1px solid blue; */
            width: 80%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,auto);
            gap: 40px;
        }
        #skill2-blackbodypart>div{
            width: 70%;
            margin: auto;
            background-color: black;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,auto);
            gap: 50px;
        }
        #skill2-plans>div:nth-child(2){
            /* border: 1px solid greenyellow; */
            width: 70%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(3,auto);
            
        }
        #skill2-questions{
            width: 90%;
            margin: auto;
            display: grid;
            padding: 20px;
            padding-top: 30px;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,auto);
            color: aliceblue;
            padding-bottom: 100px;
        }
        #skill2-last{
            width: 80%;
            margin: auto;
            text-align: center;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,auto);
            gap: 40px;
            padding: 20px;
            
        }
       
      

      }
