body{
    margin: 0;
    padding: 0;
    background-color: black;
}
#contain{
    display:flex;
    height: 820px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}
.box{
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
    background-color: #0d0f12;
    color: hsla(0,0%,100%,.95);
    /* width:26%; */
    height:80%;
    padding: 70px;
    padding-left: 120px;
}

input{
    background-color: #0d0f12;
    border:1px solid gray;
    margin-bottom: 30px ;
    height: 35px;
    width: 350px;
    color: white;
} 
 .box>img{
    margin-bottom: 50px;
    height: 60px;
   
}  


input[type= "submit"]{
    background-color:#0084bd; 
    border: 0px;
    border-radius: 2px;
    height:40px;
    color: white;
    padding-right: 105px;
    padding-left: 105px;
}
.p1{
    color:#11a2e0 ;
    text-align: center;
    margin-right: 80px;
    font-size: 13px;
}
hr{
        width: 350px;
        margin-left: 0px;
        margin-bottom: 30px;
        border: 0.2px solid gray;
}
a{
    background-color: rgb(59, 55, 55);
    color: white;
    text-decoration:none;
    padding: 10px;
    padding-left: 110px;
    padding-right: 110px;
}
.p2{
    color: rgb(163, 159, 159);
    font-size: 10px;
    text-align: center;
    margin-right: 80px;
    margin-top: 80px;
}

.p3{
    color: rgb(163, 159, 159);;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    margin-right: 80px;
    
}
.banner{
    background-image: url(https://www.pluralsight.com/content/dam/pluralsight2/login/bg-gtm-2020.png);
    background-color: black;
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat; 
    /* width: 60%; */
    height:100%;
}
.banner>img{
    margin: 70px;
    margin-top: 150px;
    margin-bottom: 30px;
} 
button{
    margin-left: 100px;
    width: 200px;
    height:40px;
    font-size: 14px;
    border-radius: 2px;
    background: linear-gradient(to right,#F05A28,#EC008C,#F05A28);
    color: white;


} 
.img{
  height:25px;
  padding-left: 465px;
  padding-top: 100px;;
} 
.submit:hover {
    cursor: pointer;
}
#account {
    text-align: center;
    background-color: #222222;
    border: none;
    border-radius: 3px;
}