.image{
    background-image: url("https://images.pexels.com/photos/841228/pexels-photo-841228.jpeg?auto=compress&cs=tinysrgb&w=600");
    height: auto;
    color: white;
}
 h4{
    color: #EC008C;
    text-align: center;
}
 h1{
    color: white;
    text-align: center;
    font-size: 30px;
}
body{
    background-color: black;
    padding-top: 12%;
}
 #individual-plans{
    display: block;
}
#team-plans{
    display: block;
} 

.compare-plans{
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: #18181a;
    color: white;
} 
.plans-label{
    position: relative;
    padding-top: 20px;
    font-weight: 600;
} 
.plans-label .ind {
    position: absolute;
    left: 500px;
    top: 0;
    color: yellow;
    
}
.plans-label .team{
    position: absolute;
    right: 282px;
    top: 0;
    color: #EC008C;
}
.ind:before, .team:before{
    content: "";
    position: absolute;
    left: -50px;
    top: 10px;
    border-left: 3px solid #333333;
    border-top: 3px solid #333333;
    width: 30px;
    height: 15px;
}
.team:before{
    left: -60px;
}
.ind:after, .team:after{
    content: "";
    position: absolute;
    right: -50px;
    top: 10px;
    border-right: 3px solid #333333;
    border-top: 3px solid #333333;
    width: 30px;
    height: 15px;
}
.team:after{
    right: -60px;
}
.compare-plans-list > ul > li:nth-child(even){
    background-color: #212121;
}
.content-list{
    display: grid;
    grid-template-columns: 25% 75%;
    
}
.content-list .text{
    color: blue;
}
.text{
    color: blue;
}
.text-blue{
    color: blue;
}
.content-list P{
    margin: 0;
    padding: 5%;
    color: white;
}
.content-list-2{
    display: grid;
    grid-template-columns: repeat(4,25%);
    text-align: center;
    font: bold;
    font-size: 20px;
}

.content-list-2 li{
    padding: 8%;
    border-left: 1px solid #333333;
    
}
.content-list-2 li:first-child{
    border: none;
}
ul{
    padding: 0;
    list-style: none;
}
.text-blue{
    padding: 1%;
    padding-top: 5%;
}
.animated-arrow-text{
    padding-top: 2%;
}
.industry-standard{
    background-image: url("https://www.pluralsight.com/content/dam/pluralsight2/product/v2/skills-bg-cs.jpg"); 
    height: 200px;
    padding: 25%  10%;
    color: white;
    
}
.industry-standard .brands{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.font{
    font-size: 70px;
    
}
.upper {
 color: #EC008C;
 text-align: center;
 font: bold;
 font-size: 25px;
}
.view , span{
    text-align: center;
    font: bold;
    font-size: 20px;
}
.text-gold{
    color: gold;
}
.text-pink{
    color: #EC008C;
}
h3{
    color: white;

}
/* .open{
    color: white;
}
.close{
    color: white;
} */
.faqs-container{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
max-width: 700px;
margin: 40px auto;
}
.faqs-container .ques-container{
    box-shadow: 0 4px 8px -3px rgba(0 ,0, 0, 0);
}
.faqs-container  p{
    padding: 10px -45px;
    font-size: 20px;
}
.faqs-container  h2{
    padding: 20px -50px;
    font-size: 40px;
    color: white;
    font: bold;

}

.faqs-container .faq-header{
    display: flex;
    background: black;
    color: white;
    align-items: center;
    cursor: pointer;
}
.faqs-container .faq-header .open,
.faqs-container .faq-header .close{
    position: absolute;
    color: white;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}
.faqs-container .faq-header .open.active,
.faqs-container .faq-header .close.active{
    opacity: 1;
    transform: translateY(0);
}
.faqs-container .faq-header h3{
    font-size: 20px;
    padding: 0 32px;
}
.faqs-container .content{
    /* padding: 0 32px; */

    background: white;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}
.faqs-container .content.active{
    max-height: 600px;
}
