*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(13, 15, 18);
    margin: 0px;
}
#parent-check1 > img
{
    width: 150px;
    padding: 15px;
}
#subchild-check1{
    display: flex;
    flex-direction:row;
}
#preparent-check1{
    display: flex;
    justify-content: center;
}
#parent-check2{
    background-color: rgb(24, 28, 32);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 40%;
    padding: 0px 10px;
    
    
}
#subchild-check1 h4{
   
    height:20px;
    width: 20px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgb(53, 59, 66);
    color: white;
    text-align: center;
   
}
#subchild-check1 h2{
    margin-left: 15px;
    color: white;
}
#child-check1{
    display: flex;
    justify-content: space-between;
}
#subchild-check2 p{
    color: white;
    margin-top: 30px;
    margin-right: 5px;
}
#child-check2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 10px;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
    padding: 10px;
}
#child-check2 div > label{
    color: white;
}
#child-check2 div > input{
    padding: 10px;
    padding-right: 85px ;
    border-radius: 3px;
    margin-right: 10px;
    border: none;
    box-sizing: border-box;
}
#child-check2 div > select{
    padding: 8px;
    padding-right: 135px ;
    border-radius: 3px;
    border: none;
    box-sizing: border-box;
}
#child-check2 + div{
    width: 87%;
    margin: auto;
    margin-left: 20px;
    padding: 10px;
}
#grandchild-check1{
    display: flex;
    padding: 10px;
}
#grandchild-check1 div > label{
    color: white;
    font-size: 12px;
    line-height: 10px;
    
} 
#grandchild-check1 > div input[type="checkbox"]
{
    background-color: rgb(13, 15, 18);
    margin-left: 20px;
    padding-top: 25px;
    -webkit-box-align: center;
}
#grandchild-check1 div > label a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(46, 160, 214);
}
#grandchild-check1 div > label a:hover{
    text-decoration: underline;
}
#subchild-check3 div:last-child input{
    position: relative;
    display: inline-flex;
    padding: 4px 16px;
    border: 0px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: middle;
    height: 40px;
    color: rgba(255, 255, 255, 0.9);
    background: rgb(0, 132, 189);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: stretch;
    align-items: stretch;
    margin: 20px 20px 15px 20px;
    
}
#subchild-check3 div:last-child input:hover {
    cursor: pointer;
}
#child-check11{
    
    width: 400px;
    height: 270px;
    margin-left: 20px;
    color: white;
    padding: 20px;
    background-color: rgb(24, 28, 32);
}
#child-check11 h2{
    margin-top: -5px;
}
.child-check3 div:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
    
}
.child-check3 div:last-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    
}
.child-check4 div:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -30px;
    
    
}
.child-check4 div:last-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -10px;
    
}
.child-check4 div h5{
    margin-left: 10px;
    margin-right: 10px;
}

.child-check4 div div:first-child h5{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}
#child-check5{
    font-size: 9px;
    padding: 0px;
    margin-top: 45px;
    margin-left: -15px;
}
#child-check6{
    width: 69%;
    margin: auto;
}
#child-check7 h1{
    margin: auto;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
a {
    color: rgb(0, 132, 189);
}