*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(24, 24,24);
    margin: 0px;
}
#parent{
    width:90%;
    margin: auto;
    margin-top: 100px;
}
#parent h4 {
color: rgb(288, 0, 132);
font-weight: bold;
}
#parent h1{
    color: white;  
}
#child1 h1{
    font-size: 25px;
    padding-bottom: 30px;
}
#child1 p{
    padding-bottom: 30px;
}
#child1
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 50px;
    padding: 30px;
    width: 90%;
    margin: auto;
}
#child1 div{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   background-color: rgb(34, 34,34);
}
#child1 div .img1{
    width: 100%;
    height: 100%;
    
}
#child2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    width: 90%;
    margin: auto;
    margin-top: 50px;

}
#child2 div {
height: 400px;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
background-color: rgb(34, 34,34);
padding: 35px 20px 20px 20px;
color: white;

}
#child2 div > h1{
    /* width: 98%;   */
    font-size: 25px;
    padding-bottom: 30px;
}
#child2 div > p{
    /* width: 95%;   */
    padding-bottom: 30px;
}
#child2 div > a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 17px;
}
#child1 div img{
  width: 100px;
}
#child1 .div1
{
    padding: 70px 76px 0px 25px;
    border-radius: 25px 0px 0px 25px;  
    color: white;
} 
#child1 div{
    border-radius: 0px 25px 25px 0px;
}
#child1 .div1 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-top: 15px;
}

#parent2{
    background-color: black;
    margin-top: 100px;
}
#child3 {
    padding-left: 6%;
}
#child3 h4{
    color: rgb(288, 0, 132);
    font-weight: bold;
    /* width: 85%; */
    margin: auto;  
    padding: 80px 0px 20px 0px;
}
#child3 h1{
    color: white;
    /* width: 85%; */
    padding-bottom: 30px;
    margin: auto;
}
#child4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
    padding-bottom:80px;

}
#child4 div a img{
    width: 100%;
    border-radius: 15px;
}
#child4 div > h4{
    color: rgb(212, 155, 12);
    /* width: 100%; */
    padding: 20px 0;
}
#child4 div > p{
    color:white;
    width: 80%;    
}
#parent3{
    display: flex;
    
}
#parent3 div{
    height: 500px;
    margin-bottom: 0px;
}
#parent3 div:first-child{
    background-image: url(./images/laptopimg-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 170%;
}
#parent3 div:last-child{
    background: linear-gradient(120deg,#ec028a,#f15924);
   
}
#parent3 div:last-child img{
    padding: 100px 50px 0px 55px;
    width: 100px;
}
#parent3 div:last-child h1{
    color: white;
    width: 90%;
    margin-left: 55px;
}
#parent3 div:last-child p{
    color: white;
    width: 90%;
    margin-left: 55px;
    font-size: 17px;
    letter-spacing: 1px;

}
#parent3 div:last-child button{
    color: white;
    background-color: rgb(24, 24,24);
    margin-left: 55px;
    padding: 15px 35px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
#parent3 div:last-child button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*new section starts */
  

#parent4{
    background-color: black;
    margin-top: -25px;
    
}
#child5 > h4{
    color: #ec028a;
    text-align: center;
    padding-top: 80px;
}
#child5 > h4:hover {
    cursor: pointer;
}
#child5 > h1{
    color: white;
    text-align: center;
}
#sub-child1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
   
    width: 75%;
    margin: auto;
    margin-top: 100px;
    
}
#sub-child1 > div{
    border-radius: 5px;
    margin-bottom: 150px;
}
#sub-child1 > div{
    padding: 10px;
    background-color: white;
}
.gg-child1{
    display: flex;
    margin-left: 5px;
}
.grand-child1{
    display: flex;
    justify-content: space-between;
}
.grand-child1 div:last-child a img{
    width: 20px;
}
.gg-child1 div a img{
    width:35px;
}
.gg-child1 div:last-child div{
    margin-top: -25px; 
    margin-left: 10px;
}
.gg-child1 div:last-child div div{
    margin-left: -3px;
    padding-top: 2px;
}
.gg-child1 div:last-child div a{
    text-decoration: none;
    color: black;
}
.gg-child1 div:last-child div > div a{
    color: grey;
}
#sub-child1 > div p{
    padding: 0px 5px 0px 0px ;
    
    
 }
 #sub-child1 > div p span{
    color: #ec028a;
 }
 .grand-child2 a img{
    width: 100px;
 }
#imgset1 img{
    margin-top: 75px;
}
#imgset2 img{
    margin-top: 20px;
}


/* new section is starting */


#parent5 {
    background-color: aqua;
    height: 550px;
    width: 100%;
    background-image: url(./images/african-girls-original.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
#parent5 div{
    padding: 5px 100px; 
}
#parent5 div h1{
    width: 30%;
    font-size: 35px;
    color: white;
    margin-top: -20px;
}
#parent5 div p{
    width: 45%;
    color: white;
}
#parent5 div button{
    background-color: rgb(3, 7, 8);
    color: white;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    border: 1px solid white;
    box-sizing: border-box;
}
#parent5 div img{
    margin-left: -50px;
    margin-top: 30px;
}
#parent5 div button:hover{
    border: 2px solid white;
}


/* new section starts */

#parent6{
    background-color: rgb(24, 24,24);
}
#child6{
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
#child6 > div > h1{
    color: white;
    text-align: center;
    padding: 70px 0px;
}
#child6 > div  div{
    text-align: center;
    padding: 80px 0px;
}
#child6 div button{
    padding: 15px 75px;
    background: linear-gradient(120deg,#ec028a,#f15924);
    color: white;
    font-weight: bold;
    border: none;
}